@@ -2,35 +2,23 @@

# dependencies

# testing
/coverage

# next.js

# production
/build

# misc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files

# vercel

# typescript
node_modules
